<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
    <menu id="root-menu" label="MENU">
        <item label="Cursor" icon="/cursor_icon.png">
            <action name="Execute">
                <command>/Cursor.AppImage --appimage-extract-and-run --no-sandbox --disable-gpu --no-xshm --disable-dev-shm-usage --disable-software-rasterizer</command>
            </action>
        </item>
    </menu>
</openbox_menu>
